@import "tailwindcss";



/* =========================
   Global Variables
========================= */


:root {

  --background: #ffffff;

  --foreground: #0f2b4d;

}



/* =========================
   Tailwind Theme
========================= */


@theme inline {

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);

  --font-mono: var(--font-geist-mono);

}






/* =========================
   Smooth Scroll
========================= */


html {

  scroll-behavior: smooth;

}





/* =========================
   Global Reset
========================= */


* {

  box-sizing: border-box;

}




html,
body {

  margin:0;

  padding:0;

  width:100%;

  min-height:100%;

}







/* =========================
   Body Style
========================= */


body {


  background: var(--background);


  color: var(--foreground);


  font-family:

    var(--font-geist-sans),
    Arial,
    Helvetica,
    sans-serif;


  line-height:1.6;


}







/* =========================
   Image Optimization
========================= */


img {

  max-width:100%;

  height:auto;

}







/* =========================
   Link Default
========================= */


a {

  text-decoration:none;

}







/* =========================
   Selection Color
========================= */


::selection {

  background:#d4a017;

  color:white;

}